*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header
{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)) ,url('pexels-sujasen-29145919.jpg');
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    /* background: white; */
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo
{
    font-size: 2em;
    letter-spacing: 2px;

}
.menu a{
    text-decoration: none ;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: red;
    border-radius: 8px;
}
.h-text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1
{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
}
.menu a:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid red;
    transition: 0.4s linear;
}
.menu a:hover:before{
    width: 90%;

}
.register a:hover{
    background: transparent;
    border: 1px solid red;
    transition: 0.4s linear;
}
.h-text a:hover{
    background: transparent;
    border: 1px solid red;
    transition: 0.4s linear;
}
